@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Outfit', sans-serif;
}
select,
input,
textarea {
	border: 1px solid #c2c2c2;
	outline-color: #f02028;
	border-radius: 4px;
}
.active {
	background-color: #f02028;
	border-color: #a8030a;
	color: #fff;
}
input:disabled,
select:disabled {
	background-color: rgb(227, 227, 227);

	color: #000;
	cursor: not-allowed;
}
.loader-container {
	box-sizing: border-box;
	width: 70vw;
	height: fit-content;
	background-color: rgba(255, 255, 255, 1);
	/* position: absolute; */
	z-index: 100;
}
.loader {
	width: fit-content;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 1px;
	background: radial-gradient(circle closest-side, #000 94%, #0000)
		right/calc(200% - 1em) 100%;
	animation: l24 1s infinite alternate linear;
}
.loader::before {
	content: attr(data-attr);
	line-height: 1em;
	color: #0000;
	background: inherit;
	background-image: radial-gradient(circle closest-side, #fff 94%, #000);
	-webkit-background-clip: text;
	background-clip: text;
}

@keyframes l24 {
	100% {
		background-position: left;
	}
}

.heading h1 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: fit-content;
	text-align: center;
	margin: auto;
	white-space: nowrap;
	position: relative;
	padding-bottom: 10px;
}
.heading h1:before {
	background-color: var(--bg-color);
	content: '';
	display: block;
	height: 3px;
	width: 60px;
	margin-bottom: 2px;
}
.heading h1:after {
	background-color: var(--bg-color);
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 3px;
	width: 60px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
	.Toastify__toast-container {
		padding: 10px !important;
	}
}
