@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
	display: block;
}

* {
	font-family: 'Outfit', sans-serif;
}

.prata-regular {
	font-family: 'Prata', serif;
	font-weight: 400;
	font-style: normal;
}

button:disabled{
	background-color: gray;
	color: #fff;
	cursor: not-allowed;
	
}

@media screen and (max-width: 640px) {
	a.active {
		background-color: #000;
		color: #fff;
	}
}

@media only screen and (max-width: 480px) {
	.Toastify__toast-container {
		padding: 10px !important;
	}
}
